body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://s1.1zoom.me/b5042/987/Footbal_Men_Stadium_Ball_Uniform_563348_1920x1080.jpg");
}

.box {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #191919;
  text-align: center;
  opacity: 0.8;

  h1 {
    margin-bottom: 50px;
    color: white;
    text-transform: uppercase;
    font-size:80%;
  }

  input {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    color: white;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    font-size:80%;

    &[type="text"] {
      border: 2px solid #3498db;
      padding: 14px 10px;
      width: 60%;

      &:focus {
        width: 90%;
        border-color: #2ecc71;
      }
    }

    &[type="submit"] {
      border: 2px solid #2ecc71;
      padding: 14px 40px;
      cursor: pointer;

      &:hover {
        background: #2ecc71;
      }
    }
  }
}
@media screen and (max-width: 425px){
  .box{
        width: 70vw;
    }

      input {

        &[type="text"] {
          width: 85%;

          &:focus {
            width: 95%;
          }
        }

        &[type="submit"] {
          width:75%;
        }
      }
  }
